header{
    text-align: center;
}

body{
    background-image: url("https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
    background-color: #964b19;
    background-size: 160%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}

hr{
    max-height: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(128, 0, 128);
    border-right-color: rgb(128, 0, 128);
    border-bottom-color: rgb(128, 0, 128);
    border-left-color: rgb(128, 0, 128);
    background-color: rgb(128, 0, 128);
    width: 100%;
    position: relative;
}
section{
    margin-bottom: 50px;
    display: inline-block;
}

.mission > article,
.story > article, 
.staff > article {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.mission .missiontext,
.story .storytext,
.staff .stafftext {
    background: white;
    padding: 2rem 4rem;
    margin: 0;
    /* flex-basis: 47.5%; */
    box-sizing: border-box;
    max-height: 950px;
}

/* .image {
    flex-basis: 47.5%;
    box-sizing: border-box;
    padding: 0;
}

figure {
    margin: 0;
} */

footer {
    text-align: center;
}
/* 
@media (max-width: 920px) {
    section{
        display: flex;
    }
    .mission > article,
    .staff > article {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .story > article{
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
    }

    .image{
        margin: auto;
        flex: 1;
        width: 100%;
        height: auto;
    }

    .mission .missiontext,
    .story .storytext,
    .staff .stafftext {
        flex: 1;
        margin: auto;
    }
} */
