header{
    text-align: center;
}

body{

    background-color: whitesmoke;
    width: 100%;
}

hr{
    max-height: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(128, 0, 128);
    border-right-color: rgb(128, 0, 128);
    border-bottom-color: rgb(128, 0, 128);
    border-left-color: rgb(128, 0, 128);
    background-color: rgb(128, 0, 128);
    width: 100%;
    position: relative;
}
section{
    margin-bottom: 50px;
}

.mission > article,
.story > article, 
.staff > article {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.mission .missiontext,
.story .storytext,
.staff .stafftext {
    background: white;
    padding: 2rem 4rem;
    margin: 0;
    flex-basis: 47.5%;
    box-sizing: border-box;
    height: auto;
}

.image {
    /* width: 100%;
    height: 100%; */
    flex-basis: 47.5%;
    box-sizing: border-box;
    padding: 0;
}

figure {
    margin: 0;
}

footer {
    text-align: center;
}

@media (max-width: 768px) {
    .mission > article,
    .staff > article {
        display: flex;
        flex-direction: column;
    }

    .story > article{
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        flex-basis: 100%;
    }

    .mission .missiontext,
    .story .storytext,
    .staff .stafftext {
        flex-basis: 100%;
    }
}
